* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 35px;
}

nav {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.active {
    color: #c1cdff;
}

.person {
    display: flex;
    align-items: center;
    gap: 28px;
}

.person > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person > div p{
    font-size: 18px;
}

.person > div span {
    font-size: 12px;
}

.nameplace {
    width: 60px;
    height: 60px;
    color: white;
    background-color: #536ffe;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.main{
    width: 100%;
    padding: 15px;
    background-color: #ebebeb;
}

.main>h2 {
    font-size: 35px;
}

.welcome {
    font-size: 24px;
    margin: 0 0 12px 0;
}

.cards1-holder {
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.card {
    background-color: white;
    border-radius: 6px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cards1-holder>.card1 {
    width: 45%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.identity {
    width: 40%;
    display: flex;
    gap: 18px;
}

.identity>.nameplace {
    width: 80px;
    height: 80px;
    font-size: 28px;
    font-weight: bold;
}

/* .identity>.name {
    width: 80%;
} */

.identity>.name p {
    font-size: 24px;
    font-weight: bold;
}

.identity>.name span {
    font-size: 18px;
}

.details {
    width:45%;
    margin: 9px 0;
}

.details_h{
    font-size: 18px;
    margin: 12px 0;
}

.progress {
    width: 100%;
    height: 8px;
    border-radius: 3px;
    background-color: #ebebeb;
}

.progress>div {
    height: 100%;
    border-radius: 3px;
}

.card2-holder {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.card2-holder .card {
    width: 100%;
    height: 45%;
    padding: 18px 30px;
    font-size: 18px;
}

.card2-holder .card span {
    font-size: 30px;
    font-weight: bold;
}

.card3 {
    width: 20%;
    font-size: 18px;
    justify-content: space-between;
}

.card3 .bala {
    font-size: 35px;
    font-weight: bold;
}

.cards2-holder {
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 18px;
}

.cards2-holder .card {
    width: 30%;
    background-color: white;
    border-radius: 6px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cards2-holder .card h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

.badge {
    width: fit-content;
    font-size: 15px;
    padding: 12px 18px;
    border-radius: 30px;
}