* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    padding: 18px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

header h1 {
    color: #3f46a4;
}

header div {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 21px;
}

.main {
    width: 100%;
    background-color: #eceff4;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 30px 12px;
}

.left {
    width: 50%;
    background-color: #eff6fe;
    padding: 27px 35px;
}

.left h2 {
    font-size: 80px;
    color: #3f46a4;
}

.left .cta {
    font-size: 42px;
    margin: 28px 0;
}

.left .note {
    font-size: 21px;
    margin: 28px 0;
}

.list {
   padding: 20px 0;
}

.list > div {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 18px 0;
    font-size: 21px;
}

.list>div>span {
    width: 28px;
    height: 28px;
    background-color: #50ad50;
}

.lastbtn {
    padding: 10px 0;
    display: flex;
    gap: 20px;
}

.lastbtn button {
    margin: 0 0 10px 0;
    padding: 12px 32px;
    border: none;
    background-color: #50ad50;
    color: white;
    border-radius: 6px;
    font-size: 21px;
}

.demo {
    border: 2px solid #3f46a4 !important;
    background-color: transparent !important;
    color: #3f46a4 !important;
}

.right {
    width: 40%;
    /* height: 100%; */
    background-color: white;
    padding: 30px;

}

.right h2 {
    text-align: center;
    color: #3f46a4;
    padding: 30px 0;
    font-size: 33px;
}

.right form {
    /* margin: 74px 0; */
    display: flex;
    flex-direction: column;
}

.right form>label{
    font-size: 21px;
    margin-top: 12px;
}

.right form>input {
    width: 97.2%;
    padding: 9px;
    font-size: 21px;
    border-radius: 6px;
}

.right form div {
    margin: 12px 0;
    font-size: 18px;
    display: flex;
    justify-self: start;
    align-items:center;
    gap: 12px;
}
.right form div>input {
    margin: 12px 0;
}

.right form p {
    text-align: center;
    font-size: 21px;
}

.right form a {
    color: #6fb570;
    margin: 12px 0;
}

.right form button {
    background-color: #fefefe;
    /* border: none; */
    margin: 21px 0;
    padding: 12px;
    font-size: 21px;
    border-radius: 6px;
}